<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>New client</h1>

<%= render 'form' %>

<%= link_to 'Back', clients_path %>
