<!-- Copyright @ 2012 Fiber Woven.
This product includes software developed by Fiber Woven Tech.
All rights reserved --> 
<h1>Editing client_billing</h1>

<%= render 'form' %>

<%= link_to 'Show', @client_billing %> |
<%= link_to 'Back', client_billings_path %>
